.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(400px + 32px + 2px);
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  transform: scale(0.6);
  width: 24px;
  height: 24px;
  transform-origin: top left;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textPlaceholder {
  min-width: calc(8 * 20);
}

.imageContainer {
  /* for border radius */
  overflow: hidden;
}

.imageScroll {
  overflow-y: hidden;
  overflow-x: auto;
  height: 416px;
  width: 400px;
}

.imageRow {
  overflow-y: hidden;
  overflow-x: auto;
  height: 400px;
  display: flex;
}

.aspect-1-1 {
  padding-top: 100%;
}

.aspect-3-4 {
  padding-top: 133.33%;
}

.imagePlaceholder,
.image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  display: inline-block;
  position: relative;
}

.iconPlaceholder {
  width: 24px;
  height: 24px;
}
